@use "@/public/global_vars.scss" as GV;

.streak_card {
  @include GV.card;
  background-image: radial-gradient(circle at top 30% left 30%, rgba(216, 71, 19, 0.5) 0%, transparent 70%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;

  @include GV.small-screen {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.streak_count {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.this_week {
  @include GV.small-screen {
    display: flex;
    flex-direction: column;
  }
}

.icon {
  @include GV.icon;
  margin-right: 5px;
}