@use "@/public/global_vars.module.scss" as GV;

.button {
  $transition: background 0.2s ease-out, filter 0.2s ease-out; 

  background-color: transparent;
  border: 3px solid GV.$purple;
  border-radius: GV.$corner-radius-big;
  padding: 3px 12px;
  
  transition: $transition;
  &:hover {
    background-color: rgb(GV.$purple, 0.2);
    filter: drop-shadow(0 0 8px GV.$purple);
    transition: $transition;
  }
  
  transform: skew(GV.$skew);
  svg {
    transform: skew(- GV.$skew);

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


// ===== Popover styles =====

$transition: background-color 0.1s ease-out, color 0.1s ease-out, filter 0.1s ease-out;
$button-padding: 10px;

.popover {
  margin: 15px 15px 0 auto;

  @include GV.card;
  border: none;

  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: GV.$corner-radius-small;
  padding: $button-padding;
  margin-bottom: 20px;

  transition: $transition;
  &:hover {
    background-color: rgb(GV.$purple, 0.5);
    filter: drop-shadow(0 0 8px GV.$purple);
    transition: $transition;
  }
}

.menu_button {
  border-radius: GV.$corner-radius-small;
  padding: $button-padding;
  font-size: 1rem;
  
  display: flex;
  align-items: center;
  gap: 5px;

  transition: $transition;
  &:hover {
    background-color: rgb(GV.$purple, 0.5);
    filter: drop-shadow(0 0 8px GV.$purple);
    transition: $transition;
  }
}

.logout {
  transition: $transition;
  &:hover {
    // color: white;
    background-color: GV.$red;
    filter: drop-shadow(0 0 8px rgba(GV.$red, 0.75));
    transition: $transition;
  }
}