@use "@/styles/global_vars.module.scss" as GV;

// Set different anchors for each friend option-popover
$max_friends: 10;
:export {
  MAX_FRIENDS: $max_friends;
}


.layout {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-height: 100%;  // Required for making .card_layout scrollable
}

.header {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

  // Title and counter
  & > div {
    flex-grow: 10;
    display: flex;
    gap: 10px;
    & > small {
      margin-top: 0.5rem;
    }
  }
  
  // Search text input
  & > label {
    flex-grow: 1;
  }
}

.friends_list {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @include GV.scrollable;
  padding-bottom: 50px;

  &:has(:popover-open) {
    overflow: hidden;
    scrollbar-gutter: stable;
  }
}

.friend_container {
  display: flex;
  flex-direction: column;
  gap: 26px;

  hr {
    border: none;
    border-top: 1px solid rgba(white, 0.15);
  }

  &:last-child hr {
    display: none;
  }
}

.friend {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;

  @include GV.mobile-screen {
    flex-direction: column;
    align-items: normal;
  }
}

.avatar {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-grow: 1;

  .image_container {
    max-width: 55px;
  }

  .username {
    &:hover {
      text-decoration: underline;
    }

    @include GV.mobile-screen {
      flex-grow: 1;
    }
  }

  .options_button {
    margin-left: 12px;
    display: flex;
    padding: 8px;
    
    &:hover {
      background-color: rgba(white, 0.15);
      box-shadow: inset 0 0 0 1px rgba(white, 0.15);
      border-radius: 100%;
      padding: 8px;
    }

    & > svg {
      color: GV.$regular-text-color;
    }
  }
}

.options_popover {
  @include GV.card;
  border: none;
  top: anchor(top);
  left: anchor(right);
  translate: -100% calc(-100% - 5px);

  &:popover-open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  & > button, & > a {
    width: 100%;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    
    &:hover {
      background-color: rgba(white, 0.15);
      box-shadow: inset 0 0 0 1px rgba(white, 0.15);
      border-radius: GV.$corner-radius-small;
      padding: 8px 10px;
    }
  }
}

@for $i from 1 through $max_friends {
  .friend_container:nth-child(#{$i}) .options_button {
    anchor-name: --more_button_#{$i};
  }
  .friend_container:nth-child(#{$i}) .options_popover {
    position-anchor: --more_button_#{$i};
  }
}

.stats_top_feats {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

  @include GV.mobile-screen {
    justify-content: center;
    flex-direction: column;
  }
}

.stats {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0 4px;

  // Stat div
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  
    small {
      color: rgba(GV.$regular-text-color, 0.6);
    }
    @include GV.mobile-screen {
      flex-grow: 1;
    }
  }
  

  $transparency: 0.2;

  .level {
    min-width: 100%;
    @include GV.skewed-container($border: linear-gradient(to right, GV.$red 0%, GV.$purple 100%));
    background: linear-gradient(to right, rgba(GV.$red, $transparency) 0%, rgba(GV.$purple, $transparency) 100%);
    color: white;
    p {
      margin-left: -2px;
    }
  }

  .streak {
    min-width: 100%;
    @include GV.skewed-container($border: GV.$orange);
    background-color: rgba(GV.$orange, $transparency);
    color: white;
    p {
      margin-left: -2px;
    }
  }

  .weight {
    min-width: 100%;
    @include GV.skewed-container($border: GV.$green);
    background-color: rgba(GV.$green, $transparency);
    color: white;
    p {
      margin-left: -2px;
    }
  }

  .fat {
    min-width: 100%;
    @include GV.skewed-container($border: GV.$yellow);
    background-color: rgba(GV.$yellow, $transparency);
    color: white;
    p {
      margin-left: -2px;
    }
  }
}

.top_feats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  .badges {
    display: flex;
    gap: 10px;
  }

  .badge_container {
    aspect-ratio: 1;
  }
}
