@use "@/public/global_vars.scss" as GV;

$transition: filter 0.3s ease-out, background-color 0.3s ease-out;

.navbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  width: 100%;

  @include GV.mobile-screen {
    padding: 0 25px;
  }
}

.link {
  padding: 10px 12px;
  border-radius: GV.$corner-radius-small;
  flex-grow: 1;
  
  transform: skew(GV.$skew);
  & > div {
    transform: skew(- GV.$skew);
  }
  
  transition: $transition;
  &:hover {
    filter: drop-shadow(0 0 8px GV.$purple);
    background-color: rgb(GV.$purple, 0.5);

    transition: $transition;
    transition-duration: 0.1s;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    @include GV.mobile-screen {
      flex-direction: column;
      margin-left: -5px;

      h3 {
        font-size: 0.8rem;
        font-weight: 300;
        color: rgb(220, 220, 220);
      }
    }
  }

}

.link_active {
  color: lighten(GV.$purple, 10%);
  filter: drop-shadow(0 0 7px GV.$purple);

  transition: $transition;
}

.icon {
  @include GV.icon-text;

  @include GV.mobile-screen {
    @include GV.icon-mid;
  }
}