@use "@/public/global_vars.scss" as GV;

$transition: all 0.3s ease-out;

.navbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.link {
  border-radius: GV.$corner-radius;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px;
  
  transition: $transition;
  
  &:hover {
    filter: drop-shadow(0 0 8px GV.$purple);
    background-color: rgb(GV.$purple, 0.5);

    transition: $transition;
    transition-duration: 0.1s;
  }
}

.link_active {
  color: lighten(GV.$purple, 10%);
  filter: drop-shadow(0 0 8px GV.$purple);

  transition: $transition;
}

.icon {
  @include GV.icon-small;
}