@use "@/public/global_vars.scss" as GV;


$green: rgb(0, 255, 148);
$yellow: rgb(235, 172, 15);
$green_gradient: radial-gradient(circle at top 20% left 10%, rgba($green, 0.3) 0%, transparent 40%);
$yellow_gradient: radial-gradient(circle at bottom 20% right 10%, rgba($yellow, 0.3) 0%, transparent 40%);


.stats_card {
  @include GV.card;
  background-image: $green_gradient, $yellow_gradient;
  
  @include GV.small-screen {
    display: flex;
    flex-grow: 1;
  }
}

.stats {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  padding: 0 20px;

  flex-grow: 1;
}

.box {
  $skew: -15deg;

  border: 3px solid;
  border-radius: 8px;

  transform: skew($skew);
  flex-grow: 1;

  align-content: center;

  div {
    transform: skew(-$skew);

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    margin-left: -2px;
    padding: 10px;

    @include GV.small-screen {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.green_border {
  border-color: $green;
  background-image: $green_gradient;
}

.yellow_border {
  border-color: $yellow;
  background-image: $yellow_gradient;
}