@use "@/public/global_vars.scss" as GV;

$transition: filter 0.2s ease-out, color 0.2s ease-out;

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  transition: $transition;

  &:hover {
    filter: drop-shadow(0 0 8px GV.$purple);
    transition: $transition;
  }
}

.link_active {
  color: lighten(GV.$purple, 10%);
  filter: drop-shadow(0 0 8px GV.$purple);

  transition: $transition;
}

.icon {
  @include GV.icon_small;
}