@use "@/public/global_vars.module.scss" as GV;

.card {
  @include GV.card;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chart_header {
  display: flex;
  justify-content: space-between;

  .data { 
    display: flex;
    flex-direction: column;

    & > div {
      display: flex;
      gap: 5px;
      align-items: flex-end;

      & > small {
        position: relative;
        top: -2px;
      }
    }
  }
}

.new_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: rgba(white, 0.02);
  border: 1px solid rgba(white, 0.15);
  border-radius: GV.$corner-radius-big;
  padding: 5px 20px;

  & > span {
    margin-top: 1px;
    margin-right: 0.3rem;
  }
  
  &:hover {
    background-color: rgba(white, 0.1);
  }
}

.chart {
  @include GV.card;
  flex-grow: 1;
}

.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: GV.$regular-text-color;
  padding: 3px 8px;
  border-radius: GV.$corner-radius-small;
  transform: translate(-50%, calc(-50% - 1.3rem));

  small {
    color: rgb(10, 10, 10);
    font-weight: bold;
  }
}