@use "@/styles/global_vars.module.scss" as GV;

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  @include GV.small-screen {
    display: none; 
  }

  @include GV.mobile-screen {
    display: block; 
  }

  margin-left: 5px;

  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, GV.$red 0%, GV.$purple 100%);
}
