@use "@/styles/global_vars.module.scss" as GV;

$gradient: (
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0) 20px,
  GV.$red 100px,
  GV.$purple calc(100% - 100px),
  rgba(0, 0, 0, 0) calc(100% - 20px),
  rgba(0, 0, 0, 0) 100%
);

.line {
  align-self: stretch;
  border: 1px solid;
  border-image: linear-gradient(135deg, $gradient) 1;
}
