@use "@/public/global_vars.scss" as GV;
@import "@/public/fonts.scss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  color-scheme: dark;
  color: #dcdcdc;
}

body {
  background-image: radial-gradient(
    circle at top 30% left 30%,
    rgba(GV.$red, 0.2) 0%,
    transparent 33%
  ),
  radial-gradient(
    circle at bottom 30% right 15%,
    rgba(GV.$purple, 0.2) 0%,
    transparent 33%
  );
  background-color: #0d0b10;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
