@use "@/styles/colors.module.scss" as colors;

.image {
  border-radius: 100%;
  width: 100% !important;
  height: 100% !important;
}

.no_image {
  border-radius: 100%;
  width: 100% !important;
  height: 100% !important;
  background-color: colors.$badge-bg-color;
  border: 1px solid rgba(white, 0.1);
}