@use "@/public/global_vars.module.scss" as GV;

.dashboard_main_layout {
  @include GV.small-screen {
    flex-direction: column;
  }

  display: flex;
  flex-direction: row;
  flex-grow: 1;

  overflow: hidden;

  main {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 30px 0;
    padding-right: 40px;
    margin-right: 10px;

    scrollbar-color: GV.$regular-text-color transparent;
    scrollbar-gutter: stable;

    @include GV.small-screen {
      margin: 0 8px 30px 30px;
      padding-right: 8px;
    }
  }
}