@use "@/public/global_vars.scss" as GV;

.dashboard_main_layout {
  @include GV.small-screen {
    flex-direction: column;
  }

  display: flex;
  flex-direction: row;
  flex-grow: 1;

  main {
    flex-grow: 1;
    margin-right: 60px;
  }
}