@use "@/public/global_vars.module.scss" as GV;

.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    & > h2, & > p {
      align-self: flex-start;
    }
  }
}

$image-size: 128px;
.image_container {
  & > div, & > img {
    width: $image-size;
  }

  z-index: 1;
}

@mixin card {
  @include GV.card;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  width: 100%;
}

.info_card {
  @include card;
  padding: 40px 15px;
  margin-top: -($image-size * 1/5);
  flex-wrap: wrap;

  @include GV.mobile-screen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }

  // Info div
  & > div {
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;

    span {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }

  .name {
    @include GV.mobile-screen {
      order: -1;
      grid-column: 1 / -1;
    }
  }

  .streak {
    color: GV.$orange;
  }

  .fat {
    color: GV.$yellow;
  }

  .weight {
    color: GV.$green;
  }
}

.top_feats_card {
  @include card;

  // Badge div
  & > div {
    display: flex;
    gap: 10px;
    
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;
    }
  }

  @include GV.medium-screen {
    flex-direction: column;
  }
}

.badge_icon {
  $size: 75px;
  min-width: $size;
  width: $size;
  height: $size;
  border-radius: 100%;
  background-color: #363636;
  display: flex;
  align-items: center;
  justify-content: center;

  @include GV.small-screen {
    $size: 60px;
    min-width: $size;
    width: $size;
    height: $size;
  }
}

.edit_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: GV.$regular-text-color;
  align-self: flex-end;

  &:hover {
    text-decoration: underline;
  }
}

.user_not_found {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}