@use "@/styles/global_vars.module.scss" as GV;
@use "@/styles/media-queries.module.scss" as mq;

.footer {
  display: none;
  
  @include mq.mobile-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
  }
}