@use "@/public/global_vars.scss" as GV;

.signup_layout {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 30px 5%;
}

.upload_picture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -3px;
  gap: 5px;

  input {
    display: none;
  }
  
  svg {
    @include GV.icon-text;
  }

  &:hover {
    text-decoration: underline;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  line-height: 0px;

  & > * {
    width: min(80vw, 25rem);
  }  
}

.signup {
  @include GV.skewed-button(
    $border: linear-gradient(to right, GV.$red 0%, GV.$purple 100%),
    $background: linear-gradient(to right, GV.$red 0%, GV.$purple 100%)
  );
}

.error {
  color: lighten(GV.$red, 10%) ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  svg {
    @include GV.icon-text;
  }
}

.login_form {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;

  & > * {
    width: min(80vw, 25rem);
  } 
}

.login {
  $transparency: 0.1;
  @include GV.skewed-button(
    $border: linear-gradient(to right, GV.$red 0%, GV.$purple 100%),
    $background: linear-gradient(to right, rgba(GV.$red, $transparency) 0%, rgba(GV.$purple, $transparency) 100%)
  );
}
