@use "@/public/global_vars.scss" as GV;

.dashboard {
  display: flex;
  flex-direction: row;

  @include GV.small-screen {
    flex-direction: column;
  }
}

.widgets {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px;

  @include GV.small-screen {
    flex-direction: row;
    flex-wrap: wrap;

    div {
      flex-grow: 1;
    }
  }
}

.collapse_button {
  $transition: all 0.2s ease-out; 

  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    background-color: transparent;
    border: none;
    border-radius: GV.$corner-radius;
    margin-left: 15px;
    transition: $transition;
    padding: 8px 5px 8px 3px;
    
    &:hover {
      background-color: rgb(GV.$purple, 0.5);
      filter: drop-shadow(0 0 8px GV.$purple);
      transition: $transition;
    }
  }

  svg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.icon {
  @include GV.icon-mid;
}
