@use "@/public/global_vars.scss" as GV;

.dashboard {
  display: flex;
  flex-direction: row;

  @include GV.small-screen {
    flex-direction: column;
  }
}

.widgets {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px;

  @include GV.small-screen {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0px;

    & > div {
      flex-grow: 1;
    }
  }
}

.separator_container {
  display: flex;

  @include GV.small-screen {
    display: none;
  }
}

.collapse_button {
  $transition: background-color 0.2s ease-out, filter 0.2s ease-out; 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    border-radius: GV.$corner-radius-big;
    margin: 15px;
    transition: $transition;
    padding: 8px 5px;
    
    &:hover {
      background-color: rgb(GV.$purple, 0.5);
      filter: drop-shadow(0 0 8px GV.$purple);
      transition: $transition;
    }

    @include GV.small-screen {
      transform: rotate(90deg);
    }
  }

  svg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.flip_button {
  transform: scaleX(-1) !important;
  
  @include GV.small-screen {
    transform: rotate(90deg) scaleX(-1) !important; 
  }
}
