
// ===== App main variables =====
$red: #b21616;
$purple: #8c19e7;
$orange: #d84713;
$green: #00ff94;
$yellow: #ebac0f;
$regular-text-color: #dcdcdc;

$corner-radius-big: 10px;
$corner-radius-small: 5px;

$skew: -20deg;
$skew-small: -15deg;


// ===== Responsive media queries =====
@mixin mobile-screen {
  @media (max-width: 750px) {
    @content;
  }
}

@mixin small-screen {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin medium-screen {
  @media (max-width: 1400px) {
    @content;
  }
}


// ===== Card component =====
@mixin card {
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(20px);
  padding: 15px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  border-radius: $corner-radius-big;
}


// ===== Skewed elements =====
@mixin skewed-square {
  width: 32px;
  height: 28px;
  position: relative;
  transform: skew($skew);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $corner-radius-small; 
    border: 3px solid transparent;
    mask:
      linear-gradient(#fff 0 0) padding-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }
}

@mixin skewed-container($border: white) {
  padding: 8px 14px;
  overflow: hidden;
  position: relative;
  border-radius: $corner-radius-big; 

  // Border pseudo-element
  &::before {
    background: $border border-box;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $corner-radius-big; 
    border: 2px solid transparent;
    mask:
      linear-gradient(#fff 0 0) padding-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }

  // Undo skew
  transform: skew($skew);
  & > * {
    transform: skew(-$skew);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

@mixin skewed-button($border, $background, $hover-color: $background) {
  @include skewed-container($border);
  border: none;
  background: $background;
  cursor: pointer;

  &:hover {
    background: $hover-color;
  }
}
