@use "@/styles/global_vars.module.scss" as GV;

$transition: color 0.1s ease-out;

.navbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  width: 100%;

  @include GV.mobile-screen {
    padding: 0 25px;
  }
}

.link {
  padding: 10px 12px;
  border-radius: GV.$corner-radius-small;
  flex-grow: 1;
  
  transition: $transition;
  &:hover {
    color: lighten(GV.$purple, 10%);
    transition: $transition;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    @include GV.mobile-screen {
      flex-direction: column;
      margin-left: -5px;

      h3 {
        font-size: 0.8rem;
        font-weight: 300;
        color: rgb(220, 220, 220);
      }
    }
  }

}

.link_active {
  color: lighten(GV.$purple, 10%);
  filter: drop-shadow(0 0 7px GV.$purple);

  transition: $transition;
}
